.input {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid grey;
}

.input:focus {
    border-color: #187bcd;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}
.shadow-btn:hover {
    background-color: #1567aa !important;
}
a:hover {
    text-decoration: underline !important;
}

@media (min-width: 600px) {
    .login {
        max-width: 200px;
    }
}
