.footer-logo {
    width: 85px;
    height: 80px;
    margin: 30px 130px;
}

.jurusan {
    font-size: 20px;
    font-weight: 600;

}

.row {
    margin: 0px 40px;
}

.address {
    font-size: 14px;
    width: 300px;
    text-align: center;
    margin-left: 16px;
    margin-top: 16px;
}

.icon-background {
    position: relative;
    display: flex;
    background-color: #FF0000;
    height: 47px;
    width: 47px;
    border-radius: 50%;
}


.icon-background2 {
    position: relative;
    display: flex;
    background-color: #E1306C;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    margin: 0px 24px;
}

.icon-background3 {
    position: relative;
    display: flex;
    background-color: #4267B2;
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.icon-background4 {
    position: relative;
    display: flex;
    background-color: #25D366;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    margin: 0px 24px;
}

.sosmed {
    display: flex;
    margin: 24px 40px 0px 40px;
}

.icon {
    position: absolute;
    display: flex;
    top: 11px;
    left: 11px;
    color: white;
    width: 10;
}

iframe {
    border-radius: 10px;
}


@media screen and (min-device-width: 992px) and (max-device-width: 1199.9px) {
    iframe {
        border-radius: 10px;
        width: 500px;
        height: 350px;
    }

    .jurusan {
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.5px;
        font-size: 17px;
        font-weight: 600;
        text-align: center;

    }

    .address {
        font-size: 14px;
        width: 300px;
        text-align: center;
        margin-left: 16px;
        margin-top: 16px;
        text-align: center;
    }

    .footer-logo {
        margin: 30px 120px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 991.9px) {
    iframe {
        width: 330px;
        height: 250px;
        margin-left: 20px;
    }

    .jurusan {
        font-size: 14px;
        font-weight: 600;
        text-align: center;

    }

    .address {
        font-size: 12px;
        width: 225px;
        margin-left: 0px;
    }

    .footer-logo {
        margin: 10px 80px;
        width: 75px;
        height: 70px;

    }

    .icon-background {
        position: relative;
        display: flex;
        background-color: #FF0000;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }


    .icon-background2 {
        position: relative;
        display: flex;
        background-color: #E1306C;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0px 12px;
    }

    .icon-background3 {
        position: relative;
        display: flex;
        background-color: #4267B2;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .icon-background4 {
        position: relative;
        display: flex;
        background-color: #25D366;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0px 12px;
    }

    .icon {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .sosmed {
        display: flex;
        margin: 24px 0px 0px 20px;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 767.9px) {
    iframe {
        width: 250px;
        height: 200px;
        margin-left: 20px;
    }

    .jurusan {
        font-size: 9px;
        font-weight: 600;

    }

    .address {
        font-size: 7px;
        width: 145px;
        margin-left: 8px;
    }

    .footer-logo {
        margin: 5px 40px;
        width: 75px;
        height: 70px;

    }

    .icon-background {
        position: relative;
        display: flex;
        background-color: #FF0000;
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }


    .icon-background2 {
        position: relative;
        display: flex;
        background-color: #E1306C;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        margin: 0px 6px;
    }

    .icon-background3 {
        position: relative;
        display: flex;
        background-color: #4267B2;
        height: 28px;
        width: 28px;
        border-radius: 50%;
    }

    .icon-background4 {
        position: relative;
        display: flex;
        background-color: #25D366;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        margin: 0px 6px;
    }

    .icon {
        position: absolute;
        top: 2px;
        left: 5px;
    }

    .sosmed {
        justify-content: center;
        margin: 12px 0px 0px 0px;
    }

    iconify-icon {
        width: 18px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 499.9px) {


    .row {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .col-5 {
        width: 400px;
    }

    iframe {
        margin-top: 20px;
        width: 200px;
        height: 120px;

    }

    .maps {
        display:flex;
        justify-content: center;
    }

    .jurusan {
        font-size: 13px;
        font-weight: 800;
        text-align: center;


    }

    .address {
        font-size: 9px;
        width: 210px;
    }

    .logo-mob {
        width: 250px;
    }

    .footer-logo {
        width: 75px;
        height: 70px;
        margin: 20px 80px;

    }

    .icon-background {
        position: relative;
        background-color: #FF0000;
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }


    .icon-background2 {
        position: relative;
        background-color: #E1306C;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0px 8px;
    }

    .icon-background3 {
        position: relative;
        background-color: #4267B2;
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }

    .icon-background4 {
        position: relative;
        background-color: #25D366;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 0px 8px;
    }

    .icon {
        position: absolute;
        top: 0px;
        left: 5px;
    }

    .sosmed {
        margin: 0px 0px 0px 60px;
    }

    iconify-icon {
        width: 15px;
    }
}

@media screen and (max-device-width: 354.9px) {


    .row {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .col-5 {
        width: 400px;
    }

    iframe {
        margin-top: 20px;
        width: 200px;
        height: 120px;

    }

    .maps {
        display:flex;
        justify-content: center;
    }

    .jurusan {
        font-size: 10px;
        width: 220px;
        font-weight: 800;
        text-align: center;


    }

    .address {
        font-size: 7px;
        width: 180px;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .logo-mob {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo {
        width: 75px;
        height: 70px;
        margin: 20px 80px;

    }

    .icon-background {
        position: relative;
        background-color: #FF0000;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }


    .icon-background2 {
        position: relative;
        background-color: #E1306C;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }

    .icon-background3 {
        position: relative;
        background-color: #4267B2;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }

    .icon-background4 {
        position: relative;
        background-color: #25D366;
        height: 18px;
        width: 18px;
        border-radius: 50%;
    }

    .icon {
        position: absolute;
        top: -3px;
        left: 4px;
    }

    .sosmed {
        justify-content: center;
        width: 180px;
        margin: 0px 16px;
    }

    iconify-icon {
        width: 10px;
    }
}