.footer-logo {
    width: 85px;
    height: 80px;
    margin: 30px 150px;
}

.jurusan {
    font-size: 20px;
    font-weight: 600;

}

.icon-background {
    position: relative;
    background-color: #FF0000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.icon-background2 {
    position: relative;
    background-color: #E1306C;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon-background3 {
    position: relative;
    background-color: #4267B2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon-background4 {
    position: relative;
    background-color: #25D366;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon {
    position: absolute;
    top: 11px;
    left: 11px;
}

iframe {
    border-radius: 10px;
}


@media screen and (min-device-width: 992px) and (max-device-width: 1199.9px) {
    iframe {
        border-radius: 10px;
        width: 500px;
        height: 350px;
    }

    .jurusan {
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.5px;
        font-size: 20px;
        font-weight: 600;

    }

    .footer-logo {
        margin: 30px 120px;
    }
}