* {
    font-family: "Poppins", sans-serif;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #187bcd;
    box-shadow: 0 1px 1px #187ccd7c inset, 0 0 5px #187ccd31;
    outline: 0 none;
}

.a-tag {
    text-decoration: none;
    color: var(--bs-nav-link-color) !important;
}

.box {
    transition: box-shadow 0.3s;
    float: left;
}

.box:hover {
    box-shadow: 0 0 9px rgba(33, 33, 33, 0.2);
    transform: scale(1.1);
}

.aktif {
    color: #187bcd !important;
    font-weight: bold;
}
h5 {
    margin: 0;
}

.bg-1 {
    background: url("../img/kelas-industri.jfif");
}
.bg-2 {
    background: url("../img/itc2.jfif");
}
.bg-3 {
    background: url("../img/itc3.jfif");
}

.carousel-img {
    width: 100%;
    height: 100vh;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
    top: 30%;
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.caption-wrapper {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.program-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #212529;
}

.program-title-h1 {
    font-size: 80px;
}

.cssanimation,
.cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span {
    display: inline-block;
}

.fadeInBottom {
    animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
    }
}

.btn-lihat {
    color: white;
    font-size: 25px;
}
