.navbar {
    border: 1px solid rgba(113, 111, 111, 0.652);
}

.nav-link {
    transition: 0.5s all ease-in-out;
}

.nav-link:hover {
    transform: scale(1.05);
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-log {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #187bcd !important;
    background: white;
    height: 40px;
    width: 85px;
    line-height: 35px;
    letter-spacing: 0.04rem;
    border: 1px solid rgba(0, 0, 0, 0.397) !important;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 2px #2b2b2b35;
}

.btn-daftar {
    background: #187bcd !important;
    color: white !important;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 2px #2b2b2b35;
}

.btn-search {
    background: #187bcd !important;
    color: white;
    display: flex;
    align-items: center;
    height: 41px;
    box-shadow: 2px 2px 2px #2b2b2b35;
}

.search-bar {
    width: 100%;
    height: 41px;
}

.nav-icons .nav-btn {
    width: 40px !important;
    height: 40px !important;
}
.input-form {
    width: 80%;
}

#navbarSearchContent,
#navbarSearchContent form {
    width: 100%;
}

#profile-btn-tog,
.profile-pict-tog,
.profile-title-tog {
    z-index: -1;
    display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Responsive Navbar */
@media (max-width: 991px) {
    /* .btn-search {
        display: none;
    } */

    #navbarSearchContent form,
    #navbarSearchContent .input-form {
        width: 100%;
    }

    .navbar {
        padding: 20px;
    }
    .navbar-toggler,
    #btn-search {
        width: 51px !important;
        height: 51px !important;
    }

    #profile-btn-tog,
    .profile-pict-tog,
    .profile-title-tog {
        display: block;
    }
}

/* Navbar After Login */
.profile-pict {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    border: 1px solid black;
}

.dropdown-menu {
    box-shadow: 0 0 9px rgba(33, 33, 33, 0.2);
}

.dropdown-menu-center {
    right: auto !important;
    left: 52% !important;
    top: 120% !important;
    -webkit-transform: translate(-45%, 0) !important;
    -o-transform: translate(-45%, 0) !important;
    transform: translate(-45%, 0) !important;
}

.dropdown-menu-start {
    right: auto !important;
    left: 50% !important;
    top: 120% !important;
    -webkit-transform: translate(-70%, 0) !important;
    -o-transform: translate(-70%, 0) !important;
    transform: translate(-70%, 0) !important;
}

.dropdown .dropdown-menu-profile {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 0;
    border: none;
    display: block;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu-profile {
    max-height: 700px;
    display: block;
    opacity: 1;
}

.item-profile {
    display: flex;
    justify-content: start;
    align-items: center;
}

.item-profile h5 {
    margin: 0 8px;
}

.go-logout {
    color: rgba(255, 0, 0, 0.813);
}

.item-profile:hover {
    background-color: rgba(128, 128, 128, 0.23);
    border-radius: 8px;
}
